@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Store</h1>
    <p class="lead">Welcome to Javoni's Pet Store</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dogs/Puppies</h2>
        <p>
            Everybody's best friend!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cats/Kittens</h2>
        <p>Takes care of itself and will love you forever.</p>
    </div>
    <div class="col-md-4">
        <h2>Fish</h2>
        <p>A pet that will never talk back. Low maintence.</p>
    </div>
</div>